{{> head }}
{{> navbar }}
      <div class="jumbotron">
        <h1 class="display-4">Hola, {{ capitalizar nombre }}</h1>
        <p class="lead">Esta es una pagina simple realizada en node, 
          utilizando express, y el motor de visualización de express hbs</p>
        <p> <small> Esta es una página sencilla de prueba, el formulario de contacto no funciona. </small></p>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="/about" role="button">Sobre mi</a>
      </div>

{{> footer }}